<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortlink</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Сократить">
    </form>
    <h1><a href="{{ short }}">{{ short }}</a></h1>
    <h1>Сайты</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Shortlink</th>
            <th>Count of jumps</th>
        </tr>
        {% for site in sites %}
            <tr>
                <th>{{ site.id }}</th>
                <th>{{ site.title }}</th>
                <th><a href="{{ site.shortlink }}">{{ site.shortlink }}</a></th>
                <th>{{ site.cnt_jumps }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>